In [2]:
import pandas as pd

In [4]:
path = '/Users/rajatdhawale/Desktop/ML_Learning/Preprocessing/data/CarDekho_Dataset1.csv'

In [6]:
df = pd.read_csv(path)

In [8]:
df.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,22598.720477,70000.0,petrol,individual,manual,first owner
1,Maruti Wagon R LXI Minor,2007,26248.935936,50000.0,petrol,individual,manual,first owner
2,Hyundai Verna 1.6 SX,2012,30048.313952,100000.0,diesel,individual,manual,first owner
3,Datsun RediGO T Option,2017,103341.409675,46000.0,petrol,individual,manual,first owner
4,Honda Amaze VX i-DTEC,2014,20000.000000,141000.0,diesel,individual,manual,second owner
5,Maruti Alto LX BSIII,2007,20000.000000,125000.0,petrol,individual,manual,first owner
6,Hyundai Xcent 1.2 Kappa S,2016,103292.128155,25000.0,petrol,individual,manual,first owner
7,Tata Indigo Grand Petrol,2014,53007.680625,60000.0,petrol,individual,manual,2nd owner
8,Hyundai Creta 1.6 VTVT S,2015,73714.347050,25000.0,petrol,individual,manual,first owner
9,Maruti Celerio Green VXI,2017,70325.600436,78000.0,cng,individual,manual,first owner

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4345 non-null   object
 1   year           4345 non-null   int64
 2   selling_price  4315 non-null   float64
 3   km_driven      4315 non-null   float64
 4   fuel           4345 non-null   object
 5   seller_type    4345 non-null   object
 6   transmission   4345 non-null   object
 7   owner          4345 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.7+ KB

In [12]:
df.describe()

              year  selling_price      km_driven
count  4345.000000    4315.000000    4315.000000
mean   2013.091139   60073.454525   66296.218772
std       4.215094   40253.780044   46679.004340
min    1992.000000   20000.000000       1.000000
25%    2011.000000   20366.330957   35000.000000
50%    2014.000000   48849.943102   60000.000000
75%    2016.000000   87910.684204   90000.000000
max    2020.000000  226100.037576  806599.000000

In [21]:
df.fuel.unique()

array(['petrol', 'diesel', 'cng', 'Petrol', 'lpg', 'cnG', 'Diesel',
       'PETROL', 'CNG', 'electric'], dtype=object)

In [23]:
mapping_fuel = {'petrol':'Petrol','PETROL': 'Petrol',
               'diesel': 'Diesel','Diesel':'Diesel',
                'cng': 'Cng', 'cnG':'Cng','CNG':'Cng',
                'lpg' : 'LPG',
                'electric' : 'Electric'
               }

df['fuel'] = df['fuel'].replace(mapping_fuel)
df.fuel.unique()

array(['Petrol', 'Diesel', 'Cng', 'LPG', 'Electric'], dtype=object)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4345 non-null   object
 1   year           4345 non-null   int64
 2   selling_price  4315 non-null   float64
 3   km_driven      4315 non-null   float64
 4   fuel           4345 non-null   object
 5   seller_type    4345 non-null   object
 6   transmission   4345 non-null   object
 7   owner          4345 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.7+ KB

In [35]:
df = df.dropna(subset=['selling_price','km_driven'])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4285 entries, 0 to 4344
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4285 non-null   object
 1   year           4285 non-null   int64
 2   selling_price  4285 non-null   float64
 3   km_driven      4285 non-null   float64
 4   fuel           4285 non-null   object
 5   seller_type    4285 non-null   object
 6   transmission   4285 non-null   object
 7   owner          4285 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 301.3+ KB

In [62]:
data = pd.Series([10,20,20,20,20,30,30,40,50,50000])

In [64]:
print(data.mean())
print(data.median())
print(data.mode())

5024.0
25.0
0    20
dtype: int64

In [48]:
10/2

5.0