In [22]:
import pandas as pd

path = '/Users/rajatdhawale/Desktop/ML_Learning/Preprocessing/data/Food_Delivery_Dataset.csv'

df = pd.read_csv(path)

In [24]:
df.head(5)

,order_distance_km,delivery_partner_rating,restaurant_rating,order_time,food_type,traffic_condition,platform,delivery_time_min,order_id,customer_note
0,21.51,3.4,2.0,night,non-veg,moderate,ubereats,189.637551,ORD063836,no onions
1,11.17,4.1,3.1,afternoon,non-veg,low,swiggy,64.378078,ORD800755,contactless
2,22.74,4.6,2.4,night,veg,high,ubereats,189.169643,ORD707411,deliver fast
3,19.21,3.8,2.4,morning,non-veg,moderate,zomato,134.029749,ORD579322,deliver fast
4,19.19,3.2,2.9,evening,veg,high,ubereats,157.162033,ORD364058,extra spicy

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_distance_km        4974 non-null   float64
 1   delivery_partner_rating  4975 non-null   float64
 2   restaurant_rating        5050 non-null   float64
 3   order_time               5050 non-null   object
 4   food_type                5050 non-null   object
 5   traffic_condition        5050 non-null   object
 6   platform                 5050 non-null   object
 7   delivery_time_min        4899 non-null   float64
 8   order_id                 5050 non-null   object
 9   customer_note            5050 non-null   object
dtypes: float64(4), object(6)
memory usage: 394.7+ KB

In [10]:
df.describe()

,order_distance_km,delivery_partner_rating,restaurant_rating,delivery_time_min
count,4974.000000,4975.000000,5050.000000,4899.000000
mean,12.713969,3.755337,3.494277,98.109536
std,7.118125,0.734255,0.874783,50.460971
min,0.500000,2.500000,2.000000,10.000000
25%,6.500000,3.100000,2.700000,56.604047
50%,12.775000,3.800000,3.500000,94.329556
75%,18.930000,4.400000,4.300000,133.925423
max,25.000000,5.000000,5.000000,274.313000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_distance_km        4974 non-null   float64
 1   delivery_partner_rating  4975 non-null   float64
 2   restaurant_rating        5050 non-null   float64
 3   order_time               5050 non-null   object
 4   food_type                5050 non-null   object
 5   traffic_condition        5050 non-null   object
 6   platform                 5050 non-null   object
 7   delivery_time_min        4899 non-null   float64
 8   order_id                 5050 non-null   object
 9   customer_note            5050 non-null   object
dtypes: float64(4), object(6)
memory usage: 394.7+ KB

In [28]:
df.describe()

,order_distance_km,delivery_partner_rating,restaurant_rating,delivery_time_min
count,4974.000000,4975.000000,5050.000000,4899.000000
mean,12.713969,3.755337,3.494277,98.109536
std,7.118125,0.734255,0.874783,50.460971
min,0.500000,2.500000,2.000000,10.000000
25%,6.500000,3.100000,2.700000,56.604047
50%,12.775000,3.800000,3.500000,94.329556
75%,18.930000,4.400000,4.300000,133.925423
max,25.000000,5.000000,5.000000,274.313000

In [46]:
df['order_distance_km'] = 
df['order_distance_km'].fillna(df['order_distance_km'].mean())

SyntaxError: invalid syntax (536693997.py, line 1)

In [34]:
df['delivery_partner_rating'] = df['delivery_partner_rating'].fillna(0)

In [36]:
df.describe()

,order_distance_km,delivery_partner_rating,restaurant_rating,delivery_time_min
count,5050.000000,5050.000000,5050.000000,4899.000000
mean,12.713969,3.699564,3.494277,98.109536
std,7.064349,0.858776,0.874783,50.460971
min,0.500000,0.000000,2.000000,10.000000
25%,6.610000,3.100000,2.700000,56.604047
50%,12.713969,3.700000,3.500000,94.329556
75%,18.830000,4.400000,4.300000,133.925423
max,25.000000,5.000000,5.000000,274.313000

In [38]:
(0.5 + 25) /2

12.75

In [40]:
l = [1,2,3,4,5,6,7,8,9,100]

In [42]:
sum(l)/len(l)

14.5

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_distance_km        5050 non-null   float64
 1   delivery_partner_rating  5050 non-null   float64
 2   restaurant_rating        5050 non-null   float64
 3   order_time               5050 non-null   object
 4   food_type                5050 non-null   object
 5   traffic_condition        5050 non-null   object
 6   platform                 5050 non-null   object
 7   delivery_time_min        4899 non-null   float64
 8   order_id                 5050 non-null   object
 9   customer_note            5050 non-null   object
dtypes: float64(4), object(6)
memory usage: 394.7+ KB

In [60]:
categorical_columns = ['order_time','food_type', 'traffic_condition']
for col in categorical_columns:
    print(df[col].unique())

['night' 'afternoon' 'morning' 'evening']
['non-veg' 'veg']
['moderate' 'low' 'high']